# {{ ansible_managed }}

node.name: {{ ansible_hostname }}

path.data: /var/lib/logstash
path.config: /etc/logstash/conf.d
path.logs: /var/log/logstash

config.reload.automatic: true
config.reload.interval: 60
